body {
    margin: 0;
    padding: 0;
    background-color: #b7a48b;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    font-size: 100%;
    font-style: normal;
}

.leaflet-container {
    font-family: "Fira Sans", sans-serif;
    font-size: 0.9rem;
    line-height: 1.4rem;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-size: calc(1.5rem + ((100vw – 400) / 400));
    color: "#2e2e2e";
    letter-spacing: 0.02em;
    margin: 5px 0;
    font-style: normal;
}

h2 {
    font-weight: 300;
    font-size: 2.3em;
    letter-spacing: 0.04em;
    margin: 5px 0;
    font-style: normal;
}

#map {
    width: 100%;
    height: 500px;
}

#mobile {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    z-index: 5000;
    opacity: 0.9;
}